body{
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

/* nav bar css*/
.nav{
    justify-content: space-evenly;
    align-items: center;
    display: flex;   
    background-color: whitesmoke;
    text-align: right;
    font-family: 'Yusei Magic', sans-serif;
    padding: 15px;
    border-bottom: 2px solid black;
}

.nav_item{
    background-color:whitesmoke;
    border-left: 1px solid black;
    padding: 10px;
    

}

.nav_item1{
    text-align: left;
    flex-grow: 1;

}


 .fa{
     padding-right: 10px;
     margin-top: 10px;
     padding-bottom: 2px;
     margin-bottom: 8px;
 }

 a{
     text-decoration: unset;
 }

 /* hero image css */
 .hero_image{
    background-image: url("../img/blood_mountain.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_text{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

button{
   background-color: black;
   border-radius: 20px;
   color: white;
   margin-right: 10;
}

/* profile picture with summary*/
#profile_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 25%;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    
 }
 .profile_info{
      
        padding: 10px;
        display: flex;
        height: 60%;
        width: 500px;
        flex-direction: column;
        margin: 0 auto;
        border: 2px solid black;
        border-radius: 50px;
      
       
 }
 
 .content_info1{
     height: 100%;
     width: 100%;
     display: flex;
     align-items: flex-end;
     margin-bottom: 20px;
     background-repeat: no-repeat;
     background-position: center;
    
     
     
 }
  
 .content_text{
     margin-bottom: 10px;
     padding: 10px;
     
 }
 
 .summary{
     text-align: center;
     text-decoration: unset;
  }

.paragraph {
    margin-bottom: 10px;
    padding: 5px;
}

/* My Skills section*/
.mySkill h1{
    text-align: center;
    font-size: 48px;
    padding: 20px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 1%;
    padding: 1%;
    

}

h2{
    text-align: center;
    padding: 10px;
    font-weight: 500;
    text-decoration: underline;
    position: relative;
    font-family: 'Yusei Magic', sans-serif;
    
}

h4 {
    text-align: center;
    font-size: 36px;
    padding: 10px;
    margin: 10px;
    line-height: 50px;
    text-decoration: underline;
    font-family: 'Yusei Magic', sans-serif;
}

p{
    padding: 10px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 30px;
}


.flex_child1{
    width: 33%;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}

.flex_child1 p{
    margin-top: 10px;
    padding: 10px;
}

#my_skills{
    height: 500px;
    width: 500px;
    padding: 10px;
}

.flex_child2{
    width: 33%;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}

.flex_child2 p{
    margin-top: 10px;
    padding: 10px;
    flex-grow: 1;
}


#code{
    height: 500px;
    width: 500px;
    padding: 10px
}

.flex_child3{
    width: 33%;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}

.flex_child2 p{
    margin-top: 10px;
    padding: 10px;
    
}


#interaction_design{
    height: 500px;
    width: 500px;
    padding: 10px;
}



/* footer */
footer{
    text-align: center;
    padding: 3px;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
}

footer .fa{
    flex-grow: 1;
    text-align: right;
    color: black;
   
}

footer p{
    text-align: left;

}

.copyright{
    align-items: baseline;
    text-align: center;
    flex-grow: 2;
    font-size: 12px;
    padding-top: 100px;
    padding-left: 200px;
}



.footer_name{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* add media queries */

@media only screen and (mad-width: 600px){


    .workGrid {
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "project_1"
        "project_2"
        "project_3"
        ;
    }
}

